/*----------------------------------------------------------------------------
 * Admin page
 ---------------------------------------------------------------------------*/
#jt_pop_admin_page {
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 10px;
    background-color: #e2e2e2;
    font-size: 12px;
}

#jt_pop_admin_page input {
    text-align: center;
    padding: 0px 3px;
    font-size: 12px;
    border-radius:0;
}

#jt_pop_admin_page .jt_popups_subtitle{
    color:#555;
    font-size:13px;
}
/*----------------------------------------------------------------------------
 * Admin Header
 ---------------------------------------------------------------------------*/
#jtpop_header {
    height: 140px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}
#jtpop_header img {
    margin-top: 40px;
}
#jtpop_header #jt_plugin_title {
    position: absolute;
    margin-top: 20px;
    left: 2px;
}
#jtpop_menu {
    height: 34px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
}
#jt_add_popup {
    margin: -2px 0 0 0;
    color: #fff;
    border-bottom:1px solid #02aca5;
    background: #00bcb4;
    font-size: 12px;
    padding: 5px 9px 4px;
    cursor: pointer;
    float: left;
    transition: all 0.3s;
}
#jtpop_menu #add_loading {
    margin: 0 0 0 5px;
    float: left;
    display: none;
}
#jtpop_menu #no_add_popup {
    font-size: 12px;
    margin: -2px 0 0 5px;
    float: left;
    background: #f7938e;
    padding: 5px 8px 4px;
    color: #fff;
    display: none;
}

/*----------------------------------------------------------------------------
 * Admin Section
 ---------------------------------------------------------------------------*/
section {
    margin-bottom: 25px;
    width: 100%;
    float: left;
    background: #fcfcfc;
    overflow: hidden;
    display: block;
    color: #666;
    line-height:170%;
}
.section_nav {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    cursor:pointer;
}
.section_nav p {
    color: #01bcb5;
    width: 80px;
    float: left;
    text-align: center;
    height: 22px;
    padding-top: 11px;
    padding-bottom: 7px;
    margin: 0;
    color: #ccc;
    cursor: pointer;
}
.section_nav .pc_version_ck {
    color: #01bcb5;
    font-weight: bold;
}
.section_nav .mobile_version_ck {
    width: 100px;
}
.section_nav .small_section {
    width: 25px;
    margin-right: 10px;
    float: right;
}
.section_nav .delete_popup {
    color: #01bcb5;
    width: 25px;
    margin-right: 10px;
    float: right;
}
.close_color {
    padding-bottom:1px;
    cursor: pointer;
    color: #00bcb4;
    border-bottom: 1px solid #00bcb4;
}
#empty_section {
    height:150px;
    color:#666;
}


/* ul */
article ul {
    padding: 20px;
    float: left;
    margin-bottom: 0;
}
article ul.option_list {
    padding-right: 0;
    margin-top:14px;
    margin-left:20px;
}
article ul.option_list li {
    list-style-type: disc;
    margin-bottom: 15px;
}
article ul.popup_img {
    margin-top:20px;
    width: 180px;
}

/* radius option */
.radius_text {
    float: left;
}
.radius_box {
    width: 23px;
    height: 23px;
    border: 1px solid #c0c0c0;
    background: #e2e2e2;
    position: relative;
    float: left;
    margin: 5px 5px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
}
.radius_box span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background: #fff;
    border-top: 1px solid #00bcb4;
    border-right: 1px solid #00bcb4;
}
.radius_box span.radius_5 {
    border-top-right-radius: 5px;
}
.radius_box span.radius_10 {
    border-top-right-radius: 10px;
}
.radius_box span.radius_15 {
    border-top-right-radius: 15px;
}
.radius_box.select_radius {
    border: 2px solid #f7938e;
}

/* save */
.jt_save_box {
    position:relative;
}
.jt_save_popup {
    margin: 0 0 20px 20px;
    color: #fff;
    border-bottom:1px solid #02aca5;
    background: #00bcb4;
    font-size: 12px;
    width: 55px;
    padding: 5px 0px 4px 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.loading_icon {
    display: none;
    position: absolute;
    top:5px;
    margin-left: 90px;
}
.save_ok {
    display: none;
    position: absolute;
    top:0;
    margin-left: 90px;
    background-color: #fadc95;
    border-bottom:1px solid #fad376;
    padding: 5px 8px 4px 10px;
    color: #fff;
}


/* input */
section input[type=text] {
    color: #f7938e;
    font-weight: bold;
    background: #fcfcfc;
    border: 0;
    border-bottom: 1px solid #00bcb4;
    box-shadow: none;
}
section input[type=text]:focus {
    border-bottom: 1px solid #00bcb4;
    box-shadow: none;
}

#jt_pop_admin_page section input.button {
    font-size: 12px;
    padding: 0 10px 1px;
    height: 30px;
}
.jtpop_top, .jtpop_left {
    width: 45px;
}
.pop_date {
    width: 80px;
}
.jtpop_zindex {
    width: 20px;
}
#jt_pop_admin_page input.jtpop_link {
    text-align: left;
}

/*----------------------------------------------------------------------------
 * Admin basic option
 ---------------------------------------------------------------------------*/
#popups_option_container ul {
    margin-left: 15px;
    margin-bottom: 40px;
}
#popups_option_container ul li {
    color: #666;
    margin-bottom: 10px;
    list-style-type: disc;
}
#popups_option_container ul li span {
    color: #818284;
    cursor: pointer;
    font-weight: bold;
}
#popups_option_container ul li input[type=text] {
    width: 50px;
    height: 22px;
    color: #f7938e;
    font-weight: bold;
    background: #e2e2e2;
    border: 0;
    border-bottom: 1px solid #00bcb4;
    box-shadow: none;
}
#popups_option_container .cuztom-td {
    margin-top: 5px;
}
#popups_option_container .cuztom-td .button {
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 12px;
}
.save_box {
    height: 35px;
}
.jt_save_popup2 {
    color: #fff;
    border-bottom:1px solid #02aca5;
    background: #00bcb4;
    font-size: 12px;
    width: 55px;
    padding: 5px 0px 4px 10px;
    cursor: pointer;
    float: left;
    transition: all 0.3s;
}
.loading_icon2 {
    display: none;
    float: left;
    margin: 5px 0 0 5px;
}
#popups_option_title {
    padding-top: 30px;
    margin-left: 2px;
    margin-bottom: 10px;
    clear: left;
    border-bottom: 1px solid #f5f5f5;
    height: 35px;
}
form {
    padding-bottom: 1px;
}
#jt_reset {
    float: left;
    width: 47px;
    border-bottom:1px solid #b4b2b2;
    background-color: #c0c0c0;
    padding: 5px 1px 4px 10px;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

/*----------------------------------------------------------------------------
 * Admin Footer
 ---------------------------------------------------------------------------*/
#popups_reference {
    margin-top: 40px;
    margin-left:2px;
}
#jtpop_footer {
    margin-top:-10px;
    border-top: 1px solid #f5f5f5;
    clear: left;
}
#jtpop_footer span {
    color: #7dc9ad;
    font-weight: bold;
}
#footer_help ul {
    font-size: 12px;
    color: #666;
    margin:15px 0 0 20px;
    padding-bottom:40px;
}
#footer_help ul li {
    list-style-type: disc;
}


/*----------------------------------------------------------------------------
 * Button hover
 ---------------------------------------------------------------------------*/
.jt_save_popup2:hover, #jt_add_popup:hover, .jt_save_popup:hover {
    background:#01cac2; border-bottom:1px solid #00bcb4; transition: all 0.3s; -webkit-transition: all 0.3s;
}

#jt_reset:hover {
    background:#b1b1b1; border-bottom:1px solid #9E9E9E; transition: all 0.3s; -webkit-transition: all 0.3s;
}


/*----------------------------------------------------------------------------
 * popup option style
 ---------------------------------------------------------------------------*/
/* popup style */
#popup_style_option {margin-top:10px; background:#f2f2f2; padding:25px;}
.version-3-9 #style1, .version-3-9 #style2 {margin-top:-137px;}
#popup_style_option label {margin-right:13px;}

/* popup shadow */
#popup_shadow_option input {margin-top:-1px;}

/* popup close color */
.popup_close_option input {margin-top:-1px;}







